:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );

  /* 图标背景 */
  /* --vp-home-hero-image-background-image: linear-gradient(
    to right,
    #43e97b 0%,
    #38f9d7 100%
  ); */
  --vp-home-hero-image-background-image: linear-gradient(
    to top,
    #d9afd9 0%,
    #97d9e1 100%
  );
  --vp-home-hero-image-filter: blur(70px);

  /* brand按钮 */
  --vp-button-brand-border: #f6ceec;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #f6ceec;

  --vp-button-brand-hover-border: #f6ceec;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #736efe;

  --vp-button-brand-active-border: #f6ceec;
  --vp-button-brand-active-bg: #f6ceec;

  /* 主题基色 */
  --vp-c-brand: #0396ff;
  --vp-c-brand-light: #d939cd;
  --vp-c-brand-dark: #d939cd;

  /* 代码块背景色 */
  /* 代码块背景色 */
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
}
